.dropdown {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown__toggle {
  width: 80px;
  height: 35px;
  background-color: #E9F8FF;
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
  margin-top: 15px;
  border: 0.5px solid #4185D2;
  margin-top: -35px;
}
.dropdown__menu-item {
  cursor: pointer;
  list-style: none;
  background-color: rgb(138, 175, 198);
  width: 80px;
  text-align: center;
  margin-top: -12px;
  padding-top: 13px;
  padding-bottom: 5px;
  margin-left: -39px;
}
.dropdown__menu-item:hover {
 
  color: orange;
  text-transform: inherit;
  transition: 1s;
}
.dropdown__toggle{
  transition: 0.1s;
  transform: scale(1s);
}

.dropdown {
  color: #fff;
  cursor: pointer;
  height: 20px;
margin-top: 37px;
margin-left: 25px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  transform: perspective(1000px);
   -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
button{
  width:80px ;
  height: 35px;
  border: 0.5px solid #4185D2;
  background-color: #E9F8FF;
}