body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

app.css table {
  width: 600px;
  border: 1rem hidden #4E31AA;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  overflow: hidden;
  margin-left: 120px;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #3A1078;
  align-items: center;
  text-align: center;
  padding: 5px;
  line-height: 1;
  color: black;
  font-size: small;
  font-family: "Verdana", sans-serif;
}

.tab-head {
  margin-top: 0;
  padding-top: 6px;
  color: black;
  font-size: small;
  font-family: "Verdana", sans-serif;
  background-color: #ADD8E6;
  padding-left: 10px;
  padding-bottom: 5px;
}

.Table-box {
  border: 1px solid black;
  height: 200px;
  width: 60%;
  float: right;

  margin-top: 20px;

}

.code-details {
  margin-top: 90px;
  padding-top: 6px;
  color: black;
  font-size: medium;
  font-family: "Verdana", sans-serif;
}

.bill {
  border-radius: 5px;
  transition: all 0.2s;
  box-shadow: 10px 10px 5px #888888;
  width: 100px;
  height: 40px;
  border: none;
  color: white;
  background-color: #4169E1;
  margin-left: 20%;
  margin-top: 0;
}

.bill:active {
  transform: scale(0.9);
  box-shadow: 0 0 5px #000;
}

.disease {
  font-size: small;
  font-family: "Verdana", sans-serif;
  margin-left: 150px;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}


.closeIcon {
  cursor: pointer;
}


.tabcontent {
  display: none;
}

.details {}